<section class="reg-field">
    <div class="testbox">
        <h1>Login</h1>

        <form action="/">

            <label class="icon" for="email"><i class="icon-envelope "></i></label>
            <input type="text" name="name" id="email" placeholder="Email" required/>
            <label class="icon" for="pass"><i class="icon-shield"></i></label>
            <input type="password" name="name" id="pass" placeholder="Password" required/>
            <div class="button-reg">
                <a href="#" class="button">Login</a>
            </div>
        </form>
    </div>
</section>
