<!--  Product Reviews List -->
<!--<ul>
  <h4>Reviews</h4>
  <li ng-repeat="review in reviewCtrl.reviews">
    <blockquote>
      <strong>{{review.rate}} Stars</strong>
      {{review.text}}

    </blockquote>
  </li>
</ul>-->

<!--  Review Form -->
<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(product)">
    <ul>
        <span style="display:none" ng-model="reviewCtrl.productId">{{product.id}}</span>
        <h4>Reviews</h4>
        <li ng-repeat="review in product.reviews">
            <blockquote>
                <strong>{{review.rate}} Stars</strong>
                {{review.text}}

            </blockquote>
        </li>
    </ul>

  <!--  Live Preview -->
 <!-- <blockquote >
    <strong>{{reviewCtrl.review.stars}} Stars</strong>
    {{reviewCtrl.review.body}}
  </blockquote>-->

  <!--  Review Form -->
  <h4>Submit a Review</h4>
  <fieldset class="form-group">
    <select ng-model="reviewCtrl.rate" class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars">
      <option value>Rate the Product</option>
    </select>
  </fieldset>
  <fieldset class="form-group">
    <textarea ng-model="reviewCtrl.text" class="form-control" placeholder="Write a short review of the product..." title="Review"></textarea>
  </fieldset>
  <fieldset class="form-group">
    <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
  </fieldset>
</form>
